.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000000;
    text-align: center;
    
    
    // SVG-анимация написания текста
    .welcome-text {
      font-size: 50px;
      font-weight: bold;
      font-family: "Arial", sans-serif;
      fill: transparent;
      stroke: rgb(250, 250, 250);
      stroke-width: 2;
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      animation: drawText 2s linear forwards;
    }
  
    img {
      width: 400px;
      opacity: 0;
      transform: translateX(-50px) blur(10px);
      transition: opacity 1s ease-out, transform 1s ease-out;
    }
  
    .slide-in {
      opacity: 1;
      transform: translateX(0) blur(0);
    }
  }
  
  // Анимация рисования текста
  @keyframes drawText {
    to {
      stroke-dashoffset: 0;
    }
  }