.language-switcher-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;

  button {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.537); /* Белая рамка */
  }
  button:hover {
    color: aliceblue;
  }
}

.language-switcher {
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  border: 1px solid rgba(255, 255, 255, 0.537); /* Добавляем рамку */

  &.open {
    border-bottom: none;
    border-radius: 5px 5px 0 0;
  }
}

.language-dropdown {
  position: absolute;
  top: 29.7px;
  right: -10px;
  padding: 1px;
  border: 1px solid rgba(255, 255, 255, 0.537);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8); /* Для наглядности */

  /* Начальное состояние: скрыто и выше кнопки */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.2s ease;

  &.open {
    border-top: none; /* Убираем верхнюю границу у дропдауна */
    border-radius: 0 0 5px 5px;
    opacity: 1;
    max-height: 200px; /* Достаточно, чтобы вместить все элементы */
    transform: translateY(0);
    pointer-events: all;
  }
}

.language-dropdown button {
  background: none;
  border: none;
  color: white;
  padding: 13px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}