body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--app-text-color, #fff);
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--app-background-image, none);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    background-color: rgba(
      var(--background-color, 0, 0, 0),
      var(--background-opacity, 0.88)
    ) !important;
  }
}

.ui-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  max-height: 200px;
  z-index: 0;
  opacity: 0.8;
}

.content {
  flex: 1;
  padding-bottom: 120px;
}

.sub-nav {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  background: rgba(var(--navbar-color-rgb, 0, 0, 0), var(--navbar-opacity, 1));

  padding: 10px 0;

  @media (max-width: 767px) {
    justify-content: flex-start;
    padding: 15px 0px;
    scroll-padding-left: 15px;
  }
}

.sub-nav .nav-item {
  color: var(--app-text-color, #fff);
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
  flex-shrink: 0;
  transition: 0.3s;
}

.sub-nav .nav-item:hover {
  opacity: 0.8;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: rgba(var(--navbar-color-rgb, 0, 0, 0), var(--navbar-opacity, 1));
  padding: 10px 0;
}

.nav-item {
  color: var(--app-text-color, #fff);
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: 0.3s;

  &.active {
    color: var(--navbar-text-active-color, #f7b946);
    font-weight: bold;
  }

  &:hover {
    opacity: 0.8;
  }
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 200px;
}

.product-name {
  font-size: 18px;
  margin: 10px 0;
}

.product-description {
  font-size: 14px;
  color: #ffffff;
}

.icon {
  width: 25px;
  height: 25px;
  padding-right: 5px;
  align-items: center;
  fill: white;
}

.category-header .icon {
  width: 30px;
  height: 30px;
}

.category-header {
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  text-align: center;
}
