body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(
    --app-background-color,
    #000
  ); // Используем CSS-переменную
  color: var(--app-text-color, #fff); // Используем CSS-переменную
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 95%;
}

.app {
  &::before {
    content: "";
    position: fixed;
    top: 5vh; // Смещаем вниз, чтобы центр оставался видимым
    left: 0;
    width: 100vw;
    height: 90vh; // Всегда 90% экрана
    background: var(--app-background-image, none) no-repeat center;
    background-size: contain; // Сохраняем пропорции
    background-position: center;
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .app {
    &::before {
      background-size: 60vw;
      background-position: center;
    }
  }
}
@media (min-width: 1500px) {
  .app {
    &::before {
      background-size: 20vw;
      background-position: center;
    }
  }
}

@media (min-width: 2500px) {
  .app {
    &::before {
      background-size: 20vw;
      background-position: center;
    }
  }
}

.content {
  flex: 1;
  padding-bottom: 120px;
}

.sub-nav {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  background: var(--navbar-color, #000); // Используем CSS-переменную
  padding: 10px 0;

  @media (max-width: 767px) {
    justify-content: flex-start;
    padding: 15px 0px;
    scroll-padding-left: 15px;
  }
}

.sub-nav .nav-item {
  color: var(--app-text-color, #fff); // Используем CSS-переменную
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
  flex-shrink: 0;
  transition: 0.3s;
}

.sub-nav .nav-item:hover {
  opacity: 0.8;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: var(--navbar-color, #000); // Используем CSS-переменную
  padding: 10px 0;
}

.nav-item {
  color: var(--app-text-color, #fff); // Используем CSS-переменную
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: 0.3s;

  &.active {
    color: #ff6347;
    font-weight: bold;
  }

  &:hover {
    opacity: 0.8;
  }
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 200px;
}

.product-name {
  font-size: 18px;
  margin: 10px 0;
}

.product-description {
  font-size: 14px;
  color: #ffffff;
}

.icon {
  width: 25px;
  height: 25px;
  padding-right: 5px;
  align-items: center;
  fill: white;
}

.category-header .icon {
  width: 30px;
  height: 30px;
}

.category-header {
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  text-align: center;
}
